{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 mt-3">
            <div class="card p-3 bg-primary border-dark">
                <form action="signup" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-12 mt-3">
                            <h2><center>SIGNUP</center></h2>

                        </div>
                        <div class="col-md-12 mt-3 border-danger">
                            <label for="">First name</label>
                            <input type="text" name="first_name" class="form-control  border-dark ">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="">last name</label>
                            <input type="text" name="last_name" class="form-control border-dark">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="">email</label>
                            <input type="email" name="email" class="form-control border-dark">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="">username</label>
                            <input type="text" name="username" class="form-control border-dark">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="">password</label>
                            <input type="password" name="password" class="form-control border-dark">
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="">confirm password</label>
                            <input type="password" name="cpassword" class="form-control border-dark">
                        </div>
                        <div class="col-md-12 mb-3 mt-3">

                            <button type="submit" class="btn btn-secondary border-dark w-100">signup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock%}